/* line 1, ../sass/_main.scss */
body {
  background: #aaaa00;
  color: #aaaa01;
}
/* line 4, ../sass/_main.scss */
body p {
  color: #aaaa01;
}
/* line 7, ../sass/_main.scss */
body a {
  color: #aaaa02;
}
/* line 9, ../sass/_main.scss */
body a.active, body a.active-trail, body a:hover {
  color: #aaaa03;
}
/* line 16, ../sass/_main.scss */
body h1 {
  color: #aaaa04;
}
/* line 18, ../sass/_main.scss */
body h1 a {
  color: #aaaa04;
}
/* line 23, ../sass/_main.scss */
body h2 {
  color: #aaaa05;
}
/* line 25, ../sass/_main.scss */
body h2 a {
  color: #aaaa05;
}
/* line 31, ../sass/_main.scss */
body .block-title_border-between h2.block-title:after, body .block-title_border-between h2.block-title:before {
  background: #aaaa05;
}
/* line 38, ../sass/_main.scss */
body h3 {
  color: #aaaa06;
}
/* line 40, ../sass/_main.scss */
body h3 a {
  color: #aaaa06;
}

/* line 1, ../sass/_header.scss */
#header {
  background: #ffff00;
}
/* line 3, ../sass/_header.scss */
#header:after {
  background: #ffff00;
}
/* line 6, ../sass/_header.scss */
#header a {
  color: #ffff01;
}
/* line 8, ../sass/_header.scss */
#header a.active, #header a.active-trail, #header a:hover {
  color: #ffff02;
}

/* line 1, ../sass/_footer.scss */
#footer {
  background: #bbbb00;
  color: #bbbb01;
}
/* line 4, ../sass/_footer.scss */
#footer p {
  color: #bbbb01;
}
/* line 7, ../sass/_footer.scss */
#footer a {
  color: #bbbb02;
}
/* line 9, ../sass/_footer.scss */
#footer a.active, #footer a.active-trail, #footer a:hover {
  color: #bbbb03;
}

/* line 2, ../sass/_components.scss */
.components-background {
  background: #cccc00;
}

/* line 6, ../sass/_components.scss */
.menu-block_main-menu.responsive-menu:after {
  background: #cccc00;
}

/* line 12, ../sass/_components.scss */
.menu-block_main-menu.nav a.nav-button .nav-item {
  background: #cccc00;
}

/* line 17, ../sass/_components.scss */
.slick-dots li.slick-active button::before {
  color: #cccc00;
}

/* line 21, ../sass/_components.scss */
.slick__arrow .slick-arrow:before {
  color: #cccc00;
}

/* line 27, ../sass/_components.scss */
.menu-block_main-menu.responsive-menu a {
  color: #cccc01;
}
